
  .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    gap: 20px;
  }
  .userCard {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #fff;
     border-radius: 10px;
     padding: 40px;
     width: 72%;
     position: relative;
     overflow: hidden;
     box-shadow: 0 2px 20px -5px rgba(82, 15, 198, 0.5);
     gap: 20px;
     transition: all 0.3s ease;
     /* z-index: -1; */
 }
 .userCard:hover{
    transform: translateY(-10px);
 }
  
 .userCard:before {
    content: '';
    position: absolute;
    height: 300%;
    width: 173px;
    background: var(--main-color);
    top: -60px;
    left: -125px;
    z-index: 0;
    transform: rotate(17deg);
  }
  
  .userCardImg {
    display: flex;
    justify-content: center;
    align-items: center;   
    z-index: 3;
  }
  
  .userCardImg img {
    width: 450px;
    height: 250px;
    object-fit: cover;
  }
  
  .userCardInfo {
    text-align: center;
  }
  
  .userCardInfo h2 {
    font-size: 2.4ch;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .userCardInfo p {
    font-size: 14px;
    margin-bottom: 2px;
    /* color: var(--main-color); */
  }
  .userCardInfo p span {
     font-weight: 700;
     margin-right: 10px;
 }
  @media only screen and (min-width: 768px) {
    .userCard {
      flex-direction: row;
      align-items: flex-start;

    }   
    .userCard-img {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .userCardInfo {
      text-align: left;
    }
  }
 
  @media (max-width: 767px){
    .wrapper{
       padding-top: 3%;
    }
    .userCard:before {
       width: 300%;
       height: 200px;
       transform: rotate(0);
    }
    .userCardInfo h2 {
       margin-top: 25px;
       font-size: 35px;
    }
    .userCardInfo p span {
       display: block;
       margin-bottom: 15px;
       font-size: 18px;
    }
  }

  @media (max-width:427px) {
    .userCardInfo h2 {
      font-size: 1.3rem;
   }
   .userCardInfo p span {
      display: block;
      margin-bottom: 1rem;
      font-size: 0.8ch;
   }
  }
  

  @media (max-width:320px) {
    .userCardInfo h2 {
      font-size: 1rem;
   }
   .userCardInfo p span {
      display: block;
      margin-bottom: 0.7rem;
      font-size: 0.3ch;
   }

  }
  
 