@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&family=Unbounded:wght@200..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    font-style: normal;
}

html,
body {
    height: 100%;

}

html {
    scroll-behavior: smooth;

}

/* body::-webkit-scrollbar {
    display: none;
}
 */




/* Logo */



/* .stickyCup {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c2c54;
    z-index: 999;
    padding: 10px 0;
    transition: all 0.3s ease;
  } */
  .stickyCup {
    position: fixed;
    top: 0; /* Держим наверху страницы */
    width: 100%;
    background-color: #2c2c54;
    z-index: 999;
    padding: 10px 0;
    transition: all 0.3s ease;
}

  .Cup{
    width: 100%;
    height: 40px;
    background-color: #2A1A5E;
    padding: 0 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1ch;
    font-weight: 400;
    color: #FEFFFF;
    border-bottom: 1px solid rgba(128, 128, 128, 0.734);
    
}
.Cup li{
    list-style: none;
}
  
  

.stickyNavBar {
    position: fixed;
    top:30px; /* Меняем top для навбара, чтобы он не перекрывал Cup */
    width: 100%;
    background-color: #2A1A5E;
    z-index: 1000; /* Уменьшаем z-index, чтобы Cup был сверху */
    transition: all 0.3s ease;
}

.LogoHidden{
    display: none;
}
.LogoTitleHidden{
    display: none;
}
.Main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

@media (max-width:1240px) {
    .Cup{
        padding: 10px;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .Main{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    

}

@media (max-width:740px) {
   
    
}